@font-face {
	font-family: "Prompt";
	src: url(../vendor/font/Prompt/Prompt-Medium.ttf) format("truetype");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: "Prompt";
	src: url(../vendor/font/Prompt/Prompt-Regular.ttf) format("truetype");
	font-style: normal;
	font-weight: 400;
}